################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Src/Core2MVCTemplate/bin/Debug/netcoreapp2.0
/Src/Core2MVCTemplate/obj
/Src/Core2WebApplication/obj
/Src/Core2MVCTemplate
/Src/Core2WebApplication/bin/Debug/netcoreapp2.0
/Src/Core2WebApplication/wwwroot/lib
